
<h2>List of registered users</h2>
<% @users.each do |user| %>
<% if current_user.id != user.id %>

<div class="field-user">
    
    <% if (current_user.friendships.where('user_id = :id OR friend_id = :id', id: user.id).where("status = (?)", true).exists? )%>
    <%= user.name %> <i class="fas fa-users text-success"></i>
    <% end %>

    <% if (current_user.friendships.where('friend_id = :id', id: user.id).where("status = (?)", false).exists? )%>
    <%= user.name %> <p> Pending </p>
    <% end %>

    <% if (current_user.friendships.where('user_id = :id', id: user.id).where("status = (?)", false).exists? )%>
    <%= user.name %> <p> Accept? </p>
    <% end %>


    <% if (current_user.id != user.id and !@friendships.already(current_user.id, user.id).exists?)  %>

    <%= form_for(@friendship, url: friendships_path, method: "post") do |f| %>

    <%= f.hidden_field :friend_id, :value => user.id %>
    <%= f.hidden_field :user_id, :value => current_user.id %>
    <%= f.hidden_field :status, :value => false %>
    <%= f.submit "Resquest language partner" %>
    <% end %>

    <% end %>

</div>
<% end %>

<%end%>