<h2>List of registered users</h2>
<% @users.each do |user| %>
<% if current_user.id != user.id %>

<div class="field-user">

    <% if (Friendship.accepted_friendships(current_user).exists? )%>
    <%= user.name %> <i class="fas fa-users text-success"></i>
    <% else %>

    <% if (Friendship.invitation_sent(current_user, user).exists? )%>
    <%= user.name %> <p> Friend request is pending. </p>
    <% end %>

    <% if (Friendship.invitation_requests(current_user,user).exists? )%>
    <%= user.name %> <p> has sent you a friend request. </p>
    <% end %>


    <% if (!Friendship.invitation_requests(current_user,user).exists? and !Friendship.invitation_sent(current_user, user).exists? )  %>
    <%= form_for(@friendship, url: friendships_path, method: "post") do |f| %>
    <%= user.name %>
    <%= f.hidden_field :friend_id, :value => user.id %>
    <%= f.hidden_field :user_id, :value => current_user.id %>
    <%= f.hidden_field :status, :value => false %>
    <%= f.submit "Resquest language partner" %>
    <% end %>
    <% end %>
    <% end %>




</div>
<% end %>

<%end%>