<div class="feed-posts">
    <% @posts.each do |post| %>

    <% if Friendship.accepted_friendships(current_user, post.user).exists? or post.user == current_user %>

    <div class="post-field">
        <%= post.content %> <br>
        <%= "By: " +  post.user.name %> <br>

        <% post.comments.each do |comment| %>


        <%= comment.text %> <br>
        <%="By:" + comment.user.name %> <br>



        <% end %>

        <%= form_for(@comment, url: comments_url, method: 'post') do |f| %>
        <%= f.text_area :text , class: "ftext"%> <br>
        <%= f.hidden_field :user_id, :value => current_user.id %>
        <%= f.hidden_field :post_id, :value => post.id %>
        <%= f.submit "Comment" ,class: "button-comment" %>
        <% end %>

        <%= form_for(@like, url: likes_url, method: 'post') do |ff| %>
        <%= ff.hidden_field :user_id, :value => current_user.id %>
        <%= ff.hidden_field :post_id, :value => post.id %>
        <%= ff.submit post.likes.count ,class: "button-comment" %>
        <% end %>

    </div>
    <% end %>

    <% end %>
</div>
