<!DOCTYPE html>
<html>
  <head>
    <title>PentaLingo</title>
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Chewy|Schoolbell&display=swap" rel="stylesheet">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>
  <body>
      <div id="fb-root"></div>
      <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v4.0&appId=2393418607536464&autoLogAppEvents=1"></script>

      
      <% if user_signed_in? %>

    <%= render "layouts/header" %>
    <% end %>
    <% flash.each do |message_type, message| %>
    <div class="alert alert-<%=message_type%>"> <%=message%> </div>
    <%end%>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>